/* ************************************************************************** */
/* Main Page Sections ******************************************************* */
/* ************************************************************************** */

/* hero ********************************************************************* */
.hero {
  position: relative;

  .hero--slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;

    @include isLarge {
      padding: 0 1rem;
    }

    @include isXLarge {
      padding: 0 4rem;
    }

    @include isGiant {
      padding: 0 8rem;
    }

    img {
      width: 25.2px;
      height: 36.8px;
    }
  }

  .hero--slider {
    margin-bottom: 0 !important;

    .hero--slide {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90vh;
      padding: 0 20px;

      @include isMedium {
        height: 768px;
      }

      @include isGiant {
        height: 900px;
      }

      .slide-info {
        padding: 2rem;
        text-align: center;
        background: rgba($color-dark, .5);
        max-width: 865px;

        @include isLarge {
          padding: 2rem 6rem;
        }
      }

      &.slide-1 {
        background: url('../images/hero-slide-1@2x.jpg') center / cover;
      }

      &.slide-2 {
        background: url('../images/hero-slide-1@2x.jpg') center / cover;
      }

      &.slide-3 {
        background: url('../images/hero-slide-1@2x.jpg') center / cover;
      }
    }
  }
}

/* information ************************************************************** */
.information {
  background: url('../images/info-section-bg@2x.jpg') center / cover;
  padding: 40px 20px;

  @include isXLarge {
    padding: 40px 20px 100px 20px;
  }

  @include isRetina {
    padding: 40px 20px 150px 20px;
  }

  .containerish {
    display: grid;
    row-gap: 1rem;

    @include isLarge {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include isXLarge {
      column-gap: 2rem;
    }

    .col-left,
    .col-middle,
    .col-right {
      .section-info {
        text-align: center;
      }
    }
  }
}

/* about us ***************************************************************** */
.about-us {
  background: url('../images/about-us-bg@2x.jpg') center / cover;
  padding: 40px 20px;

  @include isXLarge {
    height: 470px;
  }

  .containerish {
    display: grid;
    row-gap: 2rem;


    @include isLarge {
      grid-template-columns: 1.5fr 1fr;
      // margin-top: -3.5rem;
    }

    @include isXLarge {
      grid-template-columns: 1fr 1fr;
      // margin-top: -4rem;
      overflow: visible;
    }

    .col-left {
      display: flex;
      align-items: center;
    }

    .col-right {
      position: relative;
      // top: -2rem;

      @include isXLarge {
        top: -6rem;
      }

      .about--slider-container {

        .about--slider {
          .slide {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 290px;
              height: auto;
            }

            .slide-caption {
              color: $color-white;
              font-family: $font-secondary;
              font-size: 1rem;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }



}

/* functional health ******************************************************** */
.functional-health {

  @include isMedium {
    padding: 20px;
  }

  @include isRetina {
    padding: 60px 20px;
  }


  .containerish {
    background: url('../images/tip-bg@2x.jpg') center right / cover;
    position: relative;

    @include isXLarge {
      height: 820px;
    }

    .tip-container {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 683px;
      height: 380px;
      display: none;

      @include isXLarge {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .tip--left {
        .tip--image-container {
          //code
        }
      }

      .tip--right {
        display: grid;
        grid-template-rows: 60px 320px;

        .tip--slider-nav {
          grid-row: 1;

          img {
            width: 60px;
            height: 60px;
            margin: 0;
            padding: 0;
          }
        }

        .tip--info-container {
          grid-row: 2;
          background: linear-gradient(90deg, rgba($color-main, .8) 10%, rgba($color-main, 1));

          .tip--slide {
            padding: 4rem;

            .slide--info {
              color: $color-white;
              font-family: $font-secondary;
              font-size: 1rem;
            }
          }
        }
      }


    }

    .section-info {
      background: rgba($color-white, .8);
      padding: 40px 20px;
      height: inherit;

      @include isMedium {
        width: 50%;
      }

      @include isXLarge {
        padding: 2rem 3rem;
      }

      @include isRetina {
        padding: 2rem 4rem;
      }
    }
  }
}

/* chiropractic ************************************************************* */
.chiropractic {
  // padding: 20px 0;

  @include isLarge {
    padding: 0 20px 0px 20px;
  }

  @include isXLarge {
    padding: 0 20px 0 20px;
  }

  .containerish {
    display: grid;

    @include isLarge {
      grid-template-columns: 1fr 1fr;
      column-gap: 0;
      align-items: center;
    }

    .col-left {
      background: url('../images/chiropratic-img@2x.jpg') center left / cover;
      min-height: 400px;

      @include isMedium {
        background-position: bottom left;
      }

      @include isLarge {
        height: 440px;
      }

      @include isXLarge {
        height: 540px;
      }
    }

    .col-right {
      background: url('../images/chiropractic-bg@2x.jpg') center / cover;
      height: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
    }
  }
}

/* aesthetics *************************************************************** */
.aesthetics {
  padding: 0;

  @include isLarge {
    padding: 0 20px 20px 20px;
  }

  @include isXLarge {
    padding: 0 20px 0 20px;
  }

  .containerish {
    display: grid;

    @include isLarge {
      grid-template-columns: 1fr 1fr;
      column-gap: 0;
      align-items: center;
    }

    .col-left {
      background: url('../images/aesthetics-bg@2x.jpg') center / cover;
      height: 100%;
      padding: 20px;
      display: flex;
      align-items: center;

      @include isMedium {
        grid-row: 2;
      }

      @include isLarge {
        grid-row: 1;
      }
    }

    .col-right {
      background: url('../images/aesthetics-img@2x.jpg') center left / cover;
      min-height: 400px;

      @include isMedium {
        background-position: bottom left;
      }

      @include isLarge {
        height: 440px;
        grid-column: 2;
      }

      @include isXLarge {
        height: 540px;
      }
    }
  }
}

/* visit ******************************************************************** */
.visit {
  padding: 20px;

  .containerish {
    background: url('../images/visit-bg@2x.jpg') center / cover;
    padding: 20px;
    display: flex;
    justify-content: center;

    @include isMedium {
      justify-content: flex-end;
    }

    .section-info {
      text-align: center;

      @include isMedium {
        max-width: 500px;
      }

      @include isLarge {
        max-width: 600px;
        padding: 1rem 0;
      }

      @include isXLarge {
        max-width: 700px;
        padding: 1rem 0;
      }

      @include isRetina {
        max-width: 793px;
        padding: .5rem 0;
      }

      .ui-btn-white {
        color: $color-dark;

        @include isMedium {
          max-width: 250px;
        }
      }
    }
  }
}

/* massage therapy ********************************************************** */
.massage-therapy {
  .containerish {
    background: url('../images/massage-therapy-bg@2x.jpg') center / cover;

    @include isLarge {
      height: 540px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .section-info {
      background: rgba($color-white, .85);
      padding: 40px 20px;
      text-align: center;

      @include isLarge {
        width: 865px;
        padding: 4rem;
      }

      @include isXLarge {
        width: 865px;
        padding: 4rem 10rem;
      }
    }
  }
}