/* ************************************************************************** */
/* Typography *************************************************************** */
/* ************************************************************************** */
@import "https://use.fontawesome.com/releases/v5.4.1/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i|Merriweather:300,300i,400,400i&display=swap');

$font-primary: 'Merriweather',
serif;
$font-secondary: 'Lato',
sans-serif;

// General Font Setup
// Headers
h1,
h2,
h3,
h4,
h5 h6 {
  margin: 0 !important;
}

/* Primary Header */
h1 {
  font-family: $font-secondary;
  font-size: 3rem; // 48px
  line-height: 3rem;

  &.is-bold {
    font-weight: 700;
  }

  &.is-italic {
    font-style: italic;
  }
}

h2 {
  font-family: $font-secondary;
  font-size: 2.5rem; // 40px
  line-height: 2.5rem;

  &.is-italic {
    font-style: italic;
  }
}

h3 {
  font-family: $font-secondary;
  font-size: 2rem; // 32px
  line-height: 2rem;
}

h4 {
  font-family: $font-secondary;
  font-size: 1.5rem; // 24px
  line-height: 1.5rem;
}

h5,
h6 {
  font-family: $font-secondary;
}


//Body Text
.body-copy {
  font-size: 1rem; // 18px
  line-height: calc(1rem * 1.5);
  font-family: $font-primary;

  &.is-italic {
    font-style: italic;
  }

  &.is-bold {
    font-weight: 700;
  }
}

/* Lead Text (hero) */
.lead-copy {
  font-size: 1rem; // 18px
  line-height: calc(1rem * 1.5);
  font-family: $font-primary;
}

/* Footer2 Text */
.small-copy {
  font-weight: 300;
  font-size: 12px;
  line-height: calc(12px * 1.5);
  font-family: $font-primary;

  &.is-semibold {
    font-weight: 600;
  }

  &.is-bold {
    font-weight: 700;
  }
}

/* Text Modifiers */
.wrap-75 {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

input {
  font-family: $font-primary;
  font-weight: 300;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}